<div class="container" style="padding-top: 150px; padding-bottom: 60px;">
    
    <div class="row" *ngFor="let item of produtosFilial" style="padding-top: 10px;">
        <div class="fonte_site col-12" style="padding-top: 10px;" *ngIf="item.bolExibirGrupoProduto">
            <h2 [attr.id]='item.identificadorGrupoProduto'>{{item.descricaoGrupoProduto}}</h2>
        </div>
        <div class="col-12">
            <app-produto-item [produtoFilial]="item" [mesa]="mesa" (enviarCarrinho)="receberItemPedido($event)"></app-produto-item>
        </div>
       
    </div>
</div>
