#divProdutos div:hover {
    background-color: lightgray !important;
    cursor: pointer;
    border-radius: 20px;
  
  }

  .borda {
    border: black 1px solid;
    border-radius: 20px;
  }

  .botao {
    color: green !important; 
    font-size: 30px;
  }

  .botao_quantidade {
    color: blue !important; 
    font-size: 15px;
  }

  .margem_quantidade {
    padding-left: 4px; 
    padding-right: 4px;
  }