.titulo_1 {
    font-family: 'Filson Font',sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.fonte_site {
    font-family: 'Filson Font',sans-serif !important;    
}

.centralizar_texto {
    text-align: center;
}