<app-topo [filial]="filial" [imageUrl]="imageUrlHome" [gruposProdutos]="gruposProdutos" [mesa]="mesa" 
[quantidadeItens] = "quantidadeItens" [exibirCategorias]="!exibirCarrinho" (exibirCarrinho)="configurarVisibilidadeCarrinho($event)"></app-topo>
<app-produto *ngIf="!exibirCarrinho" [produtosFilial]="produtosFilial" [mesa]="mesa" 
(enviarCarrinho)="atualizarQuantidadeItensPedido()"></app-produto>
<app-carrinho *ngIf="exibirCarrinho" [mesa]="mesa" (atualizarQuantidade)="atualizarQuantidadeItensPedido()"
(exibirCarrinho)="configurarVisibilidadeCarrinho($event)"></app-carrinho>