<header class="fixed-top" style="background: black !important;">
    <div class="container">
        <nav class="navbar navbar-expand navbar-dark linha_botton "> 
            <a class="navbar-brand" href="#" *ngIf="filial != undefined">      
                <img [src]="imageUrl" width="50" height="50" class="d-inline-block align-top" alt="">
                {{filial.empresa.descricao}}
            </a>
            
            <div *ngIf="mesa !== undefined" class="row" style="width: 100%;">
                <div *ngIf="mesa.codigoEstado !=='OC'" class="col-12 fonte_site centralizar_texto">
                    <div class="row">
                        <div class="col-12">
                            <span style="color: white;">Mesa  {{mesa.codigo}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 fonte_texto">
                            <span *ngIf="mesa.codigoEstado==='LV'" style="color: red;">Mesa bloqueda, por favor chamar o antendente para liberar.</span> 
                            <span *ngIf="mesa.codigoEstado==='OC'" style="color: green;">Mesa Liberada, você já pode fazer seus pedidos.</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="mesa.codigoEstado==='OC'" class="col-8 fonte_site centralizar_texto">
                    <div class="row">
                        <div class="col-12">
                            <span style="color: white;">Mesa  {{mesa.codigo}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 fonte_texto">
                            <span *ngIf="mesa.codigoEstado==='LV'" style="color: red;">Mesa bloqueda, por favor chamar o antendente para liberar.</span> 
                            <span *ngIf="mesa.codigoEstado==='OC'" style="color: green;">Mesa Liberada, você já pode fazer seus pedidos.</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="mesa.codigoEstado==='OC'" class="col-3">
                    <div class="fonte_texto">
                        <div class="row">
                            <div class="col-12">
                                <span style="color: white;">Atendente:</span>
                            </div>                            
                        </div>  
                        <div class="row">
                            <div class="col-12">
                                <span style="color: white;">{{mesa.mesaAtendenteCorrente.nomeAtendente}}</span>
                            </div>
                        </div>                      
                    </div>
                </div>
                <div *ngIf="mesa.codigoEstado==='OC'" class="col-1">
                    <div class="fa-stack efeitoMouse" (click)="ExibirCarrinho()">
                        <i style="color: white; font-size: 20px;" class="fas fa-shopping-cart fa-stack-1x"> </i>
                        <div style="background-color: red; border-radius: 30px; width: 12px; height: 12px; margin-left: 17px;
                        margin-bottom: 5px;" class="fa-stack">
                        <span style="color: white; font-size: xx-small;  border-radius: 30px;
                        width: 5px; height: 5px; position: absolute; line-height: 1.5em; margin-left: 3px; " 
                        class="fonte_texto">{{quantidadeItens}}</span>
                    </div>
                </div>
            </div>
        </div>
    </nav> 
    <nav *ngIf="exibirCategorias" class="navbar navbar-expand navbar-dark"> 
        <div *ngIf="gruposProdutos !== undefined" class="collapse navbar-collapse">
            <ul  *ngFor="let item of gruposProdutos" class="navbar-nav efeitoMenu">
                <li class="nav-item">
                    <a class="nav-link active"  routerLinkActive="active"  [routerLink]='"."' [fragment]="item.identificador">{{item.descricao}}</a>
                </li>
            </ul>
        </div>
        
    </nav>
</div>
</header>